<% if arena.concluded? %>
  <div id="<%= dom_id arena %>" class="bg-accent mb-2 pl-4">
    <p class="text-xl font-bold">
      <%= arena.name %>
    </p>

    <p class="opacity-50">
      FINISHED
    </p>
  </div>
<% else %>
  <div id="<%= dom_id arena %>" class="bg-secondary mb-2 pl-4">
    <p class="text-xl font-bold">
      <%= arena.name %>
    </p>

    <p class="opacity-50">
      IN PROGRESS
    </p>
  </div>
<% end %>
