<% style = participation.is_alive? ? "" : "grayscale opacity-50" %>

<div id="<%= dom_id participation %>" class="flex flex-col w-full relative mb-0.5 mx-1">
  <%= image_tag participation.bot.image_link, class: "w-full #{style} rounded-lg" %>
  
  <% unless participation.is_alive? %>
    <i class="fa-solid fa-skull text-4xl sm:text-6xl text-white opacity-75 absolute top-4 left-4"></i>
  <% end %>

  <p class="text-xs font-bold bg-base-100 line-clamp-1 overflow-clip">
    <%= participation.bot.name %>
  </p>
</div>
