<div id="<%= dom_id bot %>" class="bg-base-200 mb-2 p-4 flex justify-between items-center">
  <p class="text-xl font-bold">
    <%= bot.name %>
  </p>
  <i class="fa-solid fa-caret-right text-xl"></i>
</div>
